{% extends 'theblog/base.html' %}

{% block content %}
     
<h1>Post </h1>
<ul>
{% for post in object_list  %}
    <li><a href="{% url 'article-detail' post.pk %}">{{post.title}} </a>- 
        {{post.author.first_name}} 
        {{post.post_date}}-
         <small>
            <a href="{% url 'update_post' post.pk %}">(Editar)</a> -
            <a href="{% url 'delete_post' post.pk %}">(Eliminar)</a>
        </small>
        <br>
        {{post.body}}
</li>
    
{% endfor %}
</ul>
{% endblock %}  